* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url('https://miro.medium.com/max/5040/1*nMNVg1WDc8vIg_cXUwm4tg.png');
   background-size: 65%;
   background-repeat: no-repeat;
   background-position: right top;
}

.title {
   font-family: Mukta, sans-serif;
   font-size: 100px;
   font-weight: 700;
   margin-top: 30px;
   margin-left: 70px;
}

.title span {
   display: block;
   content: "\A";
   white-space: pre-line;
}

.subtitle {
   font-family: Mukta, sans-serif;
   font-size: 25px;
   font-weight: 700;
   color: #a52a2a;
   margin-left: 70px;
}

.good-design {
   height: 40vh;
   font-family: Mukta, sans-serif;
   font-size: 100px;
   text-align: center;
   text-shadow: .05em .05em #eeeeee;
   margin-top: 200px;
}

.item {
   font-family: Mukta, sans-serif;
   display: flex;
   position: relative;
   height: 80vh;
   background-color: white;
   margin-left: 150px;
}

.item h2 {
   font-family: Mukta, sans-serif;
   font-size: 60px;
   font-weight: 700;
   margin-top: 110px;
}

.item h2 span {
   display: block;
   font-family: Mukta, sans-serif;
   font-size: 40px;
   font-weight: 700;
   color: #a52a2a;
   content: "\A";
   white-space: pre-line;
   margin-top: 50px;
}

.item-02 {
   width: 50%;
}

.item-02 p {
   margin-top: 20px;
   line-height: 1.2rem;
}

.item-03 {
   margin-top: 100px;
   margin-left: 100px;
}
/* .start {
   font-family: 'Mukta', sans-serif;
   font-size: 30px;
   font-weight: bold;
   color: #a52a2a;
   position: relative;
   top: 110px;
   left: 170px;
} */

/* .contents {
} */

/* div (odd) {
   height: 60vh;
   background-color: rgba(184, 214, 231, .2);
} */

/* div:nth-child(even) {
   background-color: rgba(184, 214, 231, .2);
} */

a:link {
   text-decoration: none;
   font-size: 20px;
   font-family: 'Mukta', sans-serif;
}

a:hover {
   text-decoration: underline;
}

a:active {
   color: pink;
   text-decoration: overline;
}

.link-to-nav {
   width: 30px;
   height: 30px;
   background-color: #eeeeee;
   border-radius: 50%;
   line-height: 30px;
   text-align: center;
   position: absolute;
   left: 1px;
   bottom: 20px;
}

.navbar {
   height: 4vh;
   text-align: center;
   margin: 10px;
}

.navbar ul {
   display: inline-block;
}

.navbar li {
   float: left;
}

.navbar li + li {
   margin-left: 20px;
}

#principle {
   font-family: Mukta, sans-serif;
   font-size: 20px;
}
